.ticket__abierto {
  background-color: #FF5959;
  border: none;
}
.ticket__pendiente {
  background-color:#FFD012;
  border: none;
}
.ticket__resuelto{
    background-color: #A0D76A;
    border: none;
}