.tickets{
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: 0.4s;
    color: rgb(124, 124, 124);
}
.tickets:hover{
    cursor: pointer;
    color: black;
}
.tickets_text{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}